@model List<TroW.Models.Statistics>

<h3><label>Cele mai rapide rute</label> </h3>
<table class="table table-striped table-bordered table-hover locations-table">
    <thead>
    <tr>
        @{
            <td><label>Anul</label></td>
            foreach (var year in Model)
            {

                <th>
                    <label>@year.YearIdentifier</label>
                </th>
            }

        }

    </tr>
    </thead>
    <tbody>

    <tr>
        <td><label>Durata celui celui mai scurt drum</label></td>
        @foreach (var year in Model)
        {
            <th>
                @year.TotalDuration[0].Duration
            </th>
        }
    </tr>

    </tbody>
</table>
<h4><label>Timpii de deplasare între statii</label> </h4>
<table class="table table-striped table-bordered table-hover statistics-table">
    <thead>
        <tr>
            <th>
                <label>Statie plecare</label>
            </th>
            <th>
                <label>Statie destinatie</label>
            </th>
            @foreach (var year in Model)
            {

                <th>
                    <label>@year.YearIdentifier</label>
                </th>
            }

        </tr>
    </thead>
    <tbody>

        @foreach (var route in ViewBag.RouteDetails)
        {
            <tr>
                <th>
                    @route.StatiePlecare
                </th>
                <th>
                    @route.StatieDestinatie
                </th>
                @foreach (var duration in route.YearResultDuration)
                {
                    <th>@duration</th>
                }
            </tr>
        }

    </tbody>
</table>
